@media (max-width: 993px) {
	.w-75 {
		width: 100% !important
	} 
	.only-on-large {
		display: none
	}
	.only-on-medium-and-down {
		display: block !important
	}
	.index-item:not(:last-child){
		margin-bottom: 30px
	}
	
}

$primary-color: #004660;

html body {
	font-display: fallback
}

.only-on-medium-and-down {
	display: none
}

.loop-btn{
	background-color: $primary-color
}

.cover-image{
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.brand-image{
	width: 100%;
	max-width: 500px;
	margin-bottom: 100px;
}